NEXT_PUBLIC_SUPABASE_URL=https://eoyxpglbsskdilcbcnxw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVveXhwZ2xic3NrZGlsY2Jjbnh3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwODY1NzEsImV4cCI6MjEwMDY2MjU3MX0.bSQBtiaSkvM3hZkvFAUYsSLnNBFWRCWyGXYXhZAEcwM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVveXhwZ2xic3NrZGlsY2Jjbnh3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTA4NjU3MSwiZXhwIjoyMTAwNjYyNTcxfQ.dhbA-w3AYiIR1xYq7SiUz3vWGvZuLaN2zdU3TSzEbM4
NEXT_PUBLIC_SITE_URL=http://localhost:3000

